@{
    Layout = "_LayoutShell";
}
@section Styles {
    <link rel="stylesheet" href="~/css/admin-layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
}
<div class="container-fluid admin-shell-wrap px-0">
    <div class="row g-0 flex-nowrap admin-shell-row">
        <aside class="admin-sidebar d-none d-md-flex flex-column">
            <partial name="_AdminMenu" />
        </aside>
        <div class="offcanvas offcanvas-start admin-offcanvas d-md-none" tabindex="-1" id="adminMenuOffcanvas">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Quản trị hệ thống</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body p-0">
                <partial name="_AdminMenu" />
            </div>
        </div>
        <main class="admin-main flex-grow-1 min-w-0">
            <div class="d-md-none border-bottom px-3 py-2 bg-light">
                <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#adminMenuOffcanvas">
                    <i class="fas fa-bars me-1"></i>Menu
                </button>
            </div>
            @RenderBody()
        </main>
    </div>
</div>
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
