<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <partial name="_ShtlSidebarBrand" />
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" aria-label="Thu gọn menu"></button>
    </div>
</ul>
